.container{
font-family: 'Pangolin', cursive;
font-size: 40px;
text-align: center;
background-color: #B6E3E9;
width: 100%;
}

.heading1{
color: #FDABAE;
font-family: 'Pangolin', cursive;
}

iframe,img {
border: 10px solid #FDABAE;
padding: 30px;
margin-left: 50px;
}


.line{
width: 850px;
height: 20px;
background-color: #FAD4AE;
margin: 25px auto;
}

#myCarousel1 p{
font-family: 'Pangolin', cursive;
font-size: 25px;
color:#FDABAE ;
}


    
